<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN" "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!--需要修改，jar包位置-->
    <!-- 指定连接数据库的JDBC驱动jar包所在位置，指定到本机的完整路径 -->
    <classPathEntry location="D:\Code\Java\jar\mysql-connector-java-5.1.13-bin.jar" />

    <!--配置tbale表信息内容体，targetRuntime指定采用MyBatis3的版本，一个数据库一个context-->
    <context id="tables" targetRuntime="MyBatis3">

        <!--抑制生成注释，由于生成的注释都是英文的，可以不生成-->
        <commentGenerator>
            <property name="suppressAllComments" value="true"></property>
        </commentGenerator>

        <!--需要修改，账户密码-->
        <!--配置数据库连接信息,指定数据库名-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://127.0.0.1:3306/dbtest"
                        userId="root" password="admin">
        </jdbcConnection>

        <!--需要修改，下列相关包名-->
        <!--生成model类，targetPackage指定model类的包名，targetProject指定生成的model放在IDEA的哪个工程下面-->
        <javaModelGenerator targetPackage="com.example.springboot_vue.model" targetProject="src/main/java">
            <!-- 是否在当前路径下新加一层schema,eg：false路径com.example.springboot.model， true:com.example.springboot.model.[schemaName] -->
            <property name="enableSubPackages" value="false"></property>
            <!-- 是否针对string类型的字段在set的时候进行trim调用 -->
            <property name="trimStrings" value="false"></property>
        </javaModelGenerator>

        <!--需要修改，下列相关包名-->
        <!--生成MyBatis的Mapper.xml文件，targetPackage指定mapper.xml文件的包名，targetProject指定生成的mapper.xml放在什么位置-->
        <sqlMapGenerator targetPackage="com.example.springboot_vue.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="false"></property>
        </sqlMapGenerator>

        <!--需要修改，下列相关包名-->
        <!--生成MyBatis的Mapper接口类文件,targetPackage指定Mapper接口类的包名，targetProject指定生成的Mapper接口放在eclipse的哪个工程下面-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.example.springboot_vue.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="false"></property>
        </javaClientGenerator>

        <!--需要修改，表名-->
        <!--数据库表名及对应生成的java模型名-->
        <!-- schema即为数据库名 tableName为对应的数据库表 domainObjectName是要生成的实体类
        enable*ByExample 是否生成 example类   -->

        <table tableName="userinfo"
               domainObjectName="UserInfo"    enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false"
               enableUpdateByExample="false" selectByExampleQueryId="false">
        </table>

    </context>

</generatorConfiguration>